# Ignore the .env file
.env

# Ignore all files in the .vscode directory
.vscode/*

# Ignore node_modules directory
node_modules/
vendor/

# Ignore log files and build output
logs/*
build/*
composer.json
componser.lock

